.Thinbar-text {
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 15px;
  letter-spacing: 2.5px;
  margin-bottom: 0px;
}

.Thinbar-background {
  background-color: #000000;
}

.shipping-box{
    color: burlywood;
    margin-top: -3px;
}