
.order-sum{
    background-color: #FAFAFA;
    padding: 7px 20px;
}

.head-border {
    border-bottom: .5px solid rgba(38, 34, 31, 0.50);
    padding: 15px 0px;
}

.prd-img{
    height: 165px;
    width: 150px;
}

.cont-btn {
    border: none;
    background-color: transparent;
    color: #029ece;
}
.cart-content{
    padding-top: 37px;
    display: flex;
}
.plc-order{
    width: 100%;
    border-radius: 10px;
    background-color: #26221F;
    border: none;
    height: 37px;
    color: #F8F2F0;
    font-weight: 700;
}

.mob-des {
    display: none;
}

.rem-btn{
    border: none;
    background-color: transparent;
    color: #dc3545;
    font-size: 14px;
    margin-top: 35px;
    margin-left: 25px;
    font-weight: 500;
}

.pd{
    width: 330px
}

.qnt-sel{
    color: #26221F !important;
}

.quantity-button{
border: none;
background-color: transparent;
}

.shopping-cart-estimate{
    font-weight: bold;
    font-size: 24px;
}

.qty-display{
    border: 1px solid #3b3b3b;
    padding: 7px 18px;
}

.text-light-css{
color: #292929 !important;
}

.checkout-cart-btn{
    padding: 12px 55px;
    width: 30%;
    font-family: Kaisei Opti;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    border-radius: 8px;
    background-color: black;
    border: none;
    color: white;
}
.checkout-cart-btn1{
    padding: 12px 55px;
    font-family: Kaisei Opti;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    border-radius: 8px;
    background-color: black;
    border: none;
    color: white;
}
@media (max-width:430px){
    .header-table{
        display: none !important;
    }

    .prd-img{
        height: 155px;
    }

    .rem-btn{
        margin-top: 8px;
       
    }

    .cart-content{
        display: block !important;
    }

    .quant, .total-amt{
        display: none;
    }

    .checkout-cart-btn{
        /* padding: 12px 55px; */
        width: 100%;
        font-family: Kaisei Opti;
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        border-radius: 8px;
        background-color: black;
        border: none;
        color: white;
    }
    .mob-des {
        display: flex;
        justify-content: space-between;
    }

    .qty-display{
        border: 1px solid #333;
        padding: 5px 10px;
    }

    .qty-text-mobile{
        margin-top: 5px;
    }

    .mob-remove {
        border: none;
        background-color: transparent;
        color: #dc3545;
        font-size: 12px;
    }

    .qnt-sel{
        color: #26221F !important;
        font-size: 14px !important;
    }

    /* .quantity-selector{
        margin-left: 25px;
    } */

    .order-sum{
        margin-top: 25px;
    }

    .size-data{
        margin-bottom: 0px !important;
        font-size: 14px;
    }

    .product-name{
        margin-bottom: 0px;
    }

    .discount{
        margin: 5px 0px;
        font-size: 14px;
    }
}


